@model GenericControllerModel<dynamic>
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>
<a href="@Url.Action("Edit")">New</a>

@foreach (var entity in Model.Entities)
{
     @Html.DisplayFor(e => entity)
}