@{
    ViewBag.Title = "Create";
}

<h2>Ändra</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input class="btn btn-primary btn-large" type="submit" value="Spara" />
    <a href="@Url.Action("Index")">Avbryt</a>
}
@if (ViewBag.saved != null) {
        <div class="alert alert-success">Ändringarna är sparade</div>
}