@model GenericControllerModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h2>@Model.Name</h2>
        <a href="@Url.Action("Edit")" class="button">New</a>

        <ul class="large-block-grid-4">
            @foreach (var entity in Model.Entities)
            {
                
                <li>
                    <a href="@Url.Action("Edit",new { Id = entity.ID })" class="entityListItem">
                        @Html.DisplayFor(e => entity)
                    </a>
                </li>
               
            }
        </ul>
    </div>
</div>
