@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <label>Name or Email</label>
    @Html.Editor("Username");
    <label>Password</label>
    @Html.Password("Password");
    <br />
    <input class="btn btn-primary btn-large" type="submit" value="Login" />
}
