@model ButlerWeb.Areas.Butler.Models.WelcomeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

@foreach (var docType in Model.Types)
{
    @docType.Type.ToString()
    <a href="@Url.Action("Index",docType.Type.Name)">Manage</a>
}
