@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="large-6 large-centered columns">
        <h1>Create Account</h1>
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()

            <input class="button success" type="submit" value="Save" />
        }
    </div>
</div>
